body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 14px;
    /* line-height: 10px; */
    /* font-weight: normal; */
    /* text-decoration: underline; */
    letter-spacing: 1px;
    /* word-spacing: 4px; */
    /* color:#524a4a;    */
    background: #ddd;
    
}
a{ 
    text-decoration: none;
    color: #fff;
    

}

.navbar{
    background:lightcoral;
    margin-bottom: 10px;
    /* padding: 10px 20px; */
    
}
.navbar ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px;
    
}

.navbar ul li:hover {
    background: lightpink;
    
}


.card{
    background:#fff;
    padding: 10px;
    margin-bottom: 10px;
} 
.html{
    background:#0243f7;
    padding: 10px;
    margin-bottom: 10px;
    color: aliceblue;
}
.html p{
    font-size: 18px;
    color: antiquewhite;
}

.card p{
    font-size: 18px;
    /* margin: 10px; */
    padding: 10px;
}


.border_1{
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
    border: 2px solid red;
    border-radius: 5px;
}
.border_2{
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
    border-bottom: 3px solid blueviolet;
}
.border_3{
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
    border-left: 5px solid red;
    background-color: rgb(240, 120, 64);
    color: #fff;
}


.list{
    margin: 0;
    padding: 0;
    list-style: none
}
.list li{
    margin-bottom: 10px;
    border-bottom: 1px solid green;
}

.table{
    width:100%;

}
.table td{
    text-align: left;
    padding-bottom: 10px;
}

table td:hover{
    background: wheat;
}

/* .table tr:nth-child(even){
    background: whitesmoke;
} */
.table tr:nth-child(odd){
    background: whitesmoke;
}
.table td:nth-child(2), .table td:nth-child(4){
    background: yellow;
}


.inline li{
    display: inline
}

.grid-container div:nth-child(odd){
    background: #e5e9f5;
    font-size: 25px;
}
.grid-container div:nth-child(even){
    background: #abc1da;
    font-size: 25px;
}


.grid-container {
    border: 1px solid rebeccapurple;
    display: grid;

    /* Ширина столбцов */
    /* grid-template-columns:100px; */
    /* grid-template-columns:100px 100px 100px; */
    /* grid-template-columns:1fr 2fr 0.5fr; */
    /* grid-template-columns:repeat(2, 1fr 3fr) */
    /* grid-template-columns: repeat(3, minmax(150px,1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(150px,1fr)); */
    /* grid-template-columns: repeat(auto-fill, minmax(50px,1fr)); */
    grid-template-columns:100px 100px 100px;
    /* place-content:center space-between; */
    grid-template-rows:100px 100px 100px;
  
    /* высота столбцов */
        /* grid-template-rows: 100px 150px 300px; */

        /* отступы между ячейками */
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    grid-gap: 10px;

    /* значения по умолчанию */
    /* grid-auto-columns: 1fr;
    grid-auto-rows: 150px; */
/* автозаполение порядок по вертикали или горизонтали */
grid-auto-flow: column ;

}


.grid-item {


}

.item1 {
/* объединение ячеек */
    /* grid-row-start: 1;
    grid-row-end: 4; */
    /* grid-column: 1 / 4; */
    /* grid-row: 1 / span 4; */
    

}
.item2 {
        
}
.item3 {
}
.item4 {
}
.item5 {
}
.item6 {
}
.item7 {
}
.item8 {
}
.item9 {
}
